aldryn-apphooks-config==0.6.0
aldryn-boilerplates==0.8.0
aldryn-common==1.0.5
aldryn-search==1.1.0
ariadne_django
amqp==5.0.6
aniso8601==7.0.0
anyascii==0.2.0
asgiref==3.4.1
astor==0.8.1
attrs==21.2.0
autobahn==21.3.1
Automat==20.2.0
Babel==2.9.1
beautifulsoup4==4.9.3
billiard==3.6.4.0
celery==5.1.2
certifi==2021.5.30
cffi==1.14.6
channels==3.0.4
charset-normalizer==2.0.3
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
colorama==0.4.4
constantly==15.1.0
coverage==5.5
cryptography==3.4.7
daphne==3.0.2
defusedxml==0.7.1
diff-match-patch==20200713
dj-database-url==0.5.0
Django==2.2.24
django-app-enabler==0.2.0
django-appconf==1.0.4
django-appdata==0.3.2
django-classy-tags==2.0.0
django-cms==3.8.0
django-colorful==1.3
django-cors-headers==3.7.0
django-el-pagination==3.3.0
django-extensions==3.1.3
django-extra-views==0.13.0
django-filer==2.0.2
django-filter==2.4.0
django-formtools==2.3
django-haystack==3.0
django-imagekit==4.0.2
django-import-export==2.5.0
django-jazzmin==2.4.8
django-js-asset==1.2.2
django-localflavor==3.1
django-meta==2.0.0
django-modelcluster==5.1
django-mptt==0.12.0
django-oscar==3.0.2
django-oscar-api==3.0.0
django-oscar-invoices==0.2
django-oscar-paypal==2.0.0
django-parler==2.2
django-phonenumber-field==3.0.1
django-photologue==3.13
django-polymorphic==3.0.0
django-sekizai==2.0.0
django-shortuuidfield==0.1.3
django-social-share==2.2.1
django-sortedm2m==3.0.2
django-spurl==0.6.7
django-standard-form==1.1.1
django-tables2==2.3.4
django-taggit==1.5.1
django-taggit-autosuggest==0.3.8
django-taggit-templatetags==0.2.5
django-templatetag-sugar==1.0
django-treebeard==4.4
django-widget-tweaks==1.4.8
djangocms-admin-style==2.0.2
djangocms-apphook-setup==0.4.1
djangocms-attributes-field==2.0.0
djangocms-blog==1.2.3
djangocms-bootstrap4==2.0.0
djangocms-file==3.0.0
djangocms-googlemap==2.0.0
djangocms-icon==2.0.0
djangocms-installer==2.0.0
djangocms-link==3.0.0
djangocms-maps==0.13.0
djangocms-page-meta==1.0.1
djangocms-picture==3.0.0
djangocms-style==3.0.0
djangocms-text-ckeditor==4.0.0
djangocms-video==3.0.0
djangorestframework==3.12.4
draftjs-exporter==2.1.7
easy-thumbnails==2.7.1
et-xmlfile==1.1.0
ExifRead==2.3.2
factory-boy==2.12.0
Faker==8.10.2
google-api-python-client==1.4.1
graphene==2.1.9
graphene-django==2.15.0
graphql-core==2.3.2
graphql-relay==2.0.1
html5lib==1.1
httplib2==0.19.1
hyperlink==21.0.0
idna==3.2
incremental==21.3.0
kombu==5.1.0
l18n==2020.6.1
lxml==4.6.3
Markdown==3.3.4
MarkupPy==1.14
mixer==7.1.2
oauth2client==4.1.3
odfpy==1.4.1
openpyxl==3.0.7
paypal==1.2.5
phonenumbers==8.12.28
pilkit==2.0
Pillow==8.3.1
pinax-announcements==4.0.0
pinax-badges==3.0.0
pinax-calendars==3.0.0
pinax-events==3.0.0
pinax-messages==3.0.0
pinax-testimonials==3.0.0
promise==2.3
prompt-toolkit==3.0.19
psycopg2-binary==2.8.6
puput==1.1.1
purl==1.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pyOpenSSL==20.0.1
pyparsing==2.4.7
python-dateutil==2.8.2
python-stdnum==1.16
pytz==2021.1
PyYAML==5.4.1
requests==2.26.0
rsa==4.7.2
Rx==1.6.1
service-identity==21.1.0
shortuuid==1.0.1
singledispatch==3.6.2
six==1.16.0
slick_reporting
sorl-thumbnail==12.6.3
soupsieve==2.2.1
sqlparse==0.4.1
tablib==3.0.0
telepath==0.2
text-unidecode==1.3
Twisted==21.2.0
twisted-iocpsupport==1.0.1
txaio==21.2.1
tzlocal==2.1
Unidecode==1.1.2
uritemplate==3.0.1
urllib3==1.26.6
URLObject==2.4.3
vine==5.0.0
wagtail==2.13.4
wcwidth==0.2.5
webencodings==0.5.1
Willow==1.4
xlrd==2.0.1
XlsxWriter==1.4.4
xlwt==1.3.0
YURL==1.0.0
zope.interface==5.4.0