adyen
absolute
aldryn-forms
aldryn-search
black
bleach
celery
channels
chardet
dj-email-url
django-admin-sortable2
django-app-enabler
django-bootstrap3
django-cache-url
django-cors-headers
django-countries
django-crispy-forms
django-enumfields
django-flatblocks
django-import-export
django-jazzmin
django-jinja
django-oscar-api
django-oscar-invoices
django-oscar-paypal
django-photologue
django-registration-redux
django-reversion
django-shortuuidfield
django-timezone-field
djangocms-audio
djangocms-blog
djangocms-bootstrap4
djangocms-charts
djangocms-file
djangocms-googlemap
djangocms-installer
djangocms-maps
djangocms-named-menus
djangocms-page-meta
djangocms-style
djangocms-video
fake-factory
google-api-python-client
graphene-django
graphql-core==3.0.3
graphqlclient
gunicorn
jaeger-client
jdcal
jsonfield
keyring
keyrings.alt
markuppy
mixer
mock
mysql-connector-python
odfpy
openpyxl
paypal
pinax-announcements
pinax-badges
pinax-calendars
pinax-events
pinax-messages
pinax-testimonials
pip-chill
puput
pyinstaller
pyopenssl
pytest-cache
pytest-cov
pytest-django
pytest-splinter
pytimeparse
pyxb
pyyaml
rx
sentry-sdk
service-identity
simplejson
sorl-thumbnail
sphinx
supervisor
supervisor-win
unicodecsv
virtualenv
weasyprint
xlrd
xlwt
# development
Werkzeug>=1.0,<2.1
django-debug-toolbar>=2.2,<3.3
django-extensions>=2.2,<3.2
psycopg2-binary>=2.8,<2.10

# Sandbox
Whoosh>=2.7,<2.8
django-environ>=0.4,<0.5
django-redis>=4.12,<5.1
pysolr>=3.9,<3.10
redis>=3.5,<3.6
requests>=2.25,<3
whitenoise>=5.2,<5.4

# Linting
flake8==3.9.2
flake8-debugger==4.0.0
isort==5.9.3

# Helpers
pyprof2calltree>=1.4,<1.5
ipdb>=0.13,<0.14
ipython>=7.12,<8

# Country data
pycountry
django-keycloak